<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Spraff </a>
        <div class="navbar-nav mr-auto">
            <ul>
                <li class="nav-item">
                    <a routerLink="dictionary" class="nav-link">Dictionary</a>
                </li>
                <li class="nav-item">
                    <a routerLink="add" class="nav-link">Add</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</div>